.feedback {
  padding-top: 35px;
  padding-bottom: 70px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 6 span;
  }

  &__slogan {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: var(--black-color);
  }

  &__text {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    color: var(--black-color);
    line-height: 138%;
  }

  &__btn {
    margin-bottom: 12px;
    padding: 19px 35px;
  }

  &__img {
    grid-column: 6 span;
    background: url("../images/form-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
