<section class="advantages">
  <div class="container advantages__container">
    <h3 class="advantages__subtitle">
      Ваши преимущества от сотрудничества
    </h3>
    <div class="advantages__wrapper grid">
      <ul class="advantages__list list-reset">
        <li class="advantages__item">
          <span class="advantages__possibility">
            Возможность 1
          </span>
          <p class="advantages__text">
            Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а
            созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка
            творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а
            мы поможем правильно выбрать мебель.
          </p>
        </li>
        <li class="advantages__item">
          <span class="advantages__possibility">
            Возможность 1
          </span>
          <p class="advantages__text">
            Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования
            обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем
            организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы
            покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные
            ожидания.
          </p>
        </li>
      </ul>
    </div>

  </div>
</section>
