<section class="card-product">
  <div class="container card-product__container">
    <div class="card-product__wrapper grid">
      <div class="card-product__img">
        <picture class="card-product__picture">
          <source srcset="./images/cart_sofa-d31-1024.webp" media="(max-width: 1200px)" type="image/webp">
          <source srcset="./images/cart_sofa-d31-768.webp" media="(max-width: 992px)" type="image/webp">
          <source srcset="./images/cart_sofa-d31-320.webp" media="(max-width: 576px)" type="image/webp">
          <img loading="lazy"
            src="data:image/gif;base64,R0lGODlhcAL1AIAAAP///wAAACH5BAEAAAEALAAAAABwAvUAAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8b+jRw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzZw7e/4MOrTo0aRLmz6NOrXq1axbu34NO7bs2bRr276NO7fu3bx7+/4NPLjw4cSLGz+OPLny5cybO38OPbr06dSrW7+OPbv27dy7e/8OPrz48eTLmz+PPr369ezbu38PP778+fTr27+PP7/+/fw/+/v/D2CAAg5IYIEGHohgggouyGCDDj4IYYQSTkhhhRZeiGGGGm7IYYcefghiiCKOSGKJJp6IYooqrsgiQAUAADs="
            data-src="./images/cart_sofa-d31.webp" class="lazyload" alt="Диван тканевый прямой “D-31”">
        </picture>
      </div>
      <div class="card-product__info">
        <span class="card-product__star">
          4.8
        </span>
        <p class="card-product__name">
          Диван тканевый прямой “D-31”
        </p>
        <p class="card-product__desc">
          Мини 120 см без ящика Stark синий (Рогожка)
        </p>
        <span class="card-product__price">
          28 490 руб
        </span>
        <a href="#" class="btn-reset btn-purple card-product__btn link-reset">
          Купить в один клик
        </a>
        <button class="btn-reset card-product__add" aria-label="Добавить в корзину">
          + Добавить в карзину
        </button>
      </div>
      <div class="card-product__construction">
        <strong class="card-product__subtitle">
          Опорный механизм
        </strong>
        <p class="card-product__desc-mech">
          Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана сиденье
          «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить спинку.
        </p>
        <p class="card-product__desc-mech">
          Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но
          подросток справится.
        </p>
      </div>
      <ul class="card-product__list list-reset" title="Параметры продукта">
        <li class="card-product__item">
          <p class="card-product__prop">
            Гарантия
          </p>
          <p class="card-product__value">
            18 месяцев
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Артикул
          </p>
          <p class="card-product__value">
            AAA41269004
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Длина
          </p>
          <p class="card-product__value">
            163 см
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Высота
          </p>
          <p class="card-product__value">
            90 см
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Глубина
          </p>
          <p class="card-product__value">
            108 см
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Спальное место
          </p>
          <p class="card-product__value">
            200 см х 125 см
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Высота посадки
          </p>
          <p class="card-product__value">
            45 см
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Механизм
          </p>
          <p class="card-product__value">
            Опорный
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Тип обивки
          </p>
          <p class="card-product__value">
            Рогожка
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Цвет
          </p>
          <p class="card-product__value">
            Синий
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Наполнитель
          </p>
          <p class="card-product__value">
            Независимый пружинный блок
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Материал каркаса
          </p>
          <p class="card-product__value">
            Металл. рама с дерев. латами
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Количество мест
          </p>
          <p class="card-product__value">
            Двухместный
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Категория
          </p>
          <p class="card-product__value">
            Прямые тканевые диваны
          </p>
        </li>
        <li class="card-product__item">
          <p class="card-product__prop">
            Возврат
          </p>
          <p class="card-product__value">
            Условия
          </p>
        </li>
      </ul>
    </div>
    <div class="similar-prod">
      <h2 class="section-title card-product__title">
        Похожие товары
      </h2>
      <ul class="similar-prod__list list-reset grid">
        <li class="product-card similar-prod__item">
          <article class="product">
            <picture class="product__picture">
              <source srcset="./images/cart_sofa-r85-1024.webp" media="(max-width: 1024px)" type="image/webp">
              <source srcset="./images/cart_sofa-r85-768.webp" media="(max-width: 768px)" type="image/webp">
              <source srcset="./images/cart_sofa-r85-320.webp" media="(max-width: 420px)" type="image/webp">
              <img loading="lazy"
                src="data:image/gif;base64,R0lGODlh+wBpAIAAAP///wAAACH5BAEAAAEALAAAAAD7AGkAAALMjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6ejlEAADs="
                data-src="./images/cart_sofa-r85.webp" class="lazyload" alt="Диван велюровый “R-85”">
            </picture>
            <div class="product__inner">
              <h3 class="product__subtitle">
                Диван велюровый &Prime;R-85&Prime;
              </h3>
              <span class="product__price">
                34 990 руб
              </span>
              <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
                Купить
              </a>
            </div>
            <span class="product__star">
              4,5
            </span>
          </article>
        </li>
        <li class="product-card similar-prod__item">
          <article class="product">
            <picture class="product__picture">
              <source srcset="./images/cart_sofa-h58-1024.webp" media="(max-width: 1024px)" type="image/webp">
              <source srcset="./images/cart_sofa-h58-768.webp" media="(max-width: 768px)" type="image/webp">
              <source srcset="./images/cart_sofa-h58-320.webp" media="(max-width: 420px)" type="image/webp">
              <img loading="lazy"
                src="data:image/gif;base64,R0lGODlh6QCFAIAAAP///wAAACH5BAEAAAEALAAAAADpAIUAAALfjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z19XAAA7"
                data-src="./images/cart_sofa-h58.webp" class="lazyload" alt="Диван флоковый “H-58”">
            </picture>
            <div class="product__inner">
              <h3 class="product__subtitle">
                Диван флоковый &Prime;H-58&Prime;
              </h3>
              <span class="product__price">
                23 990 руб
              </span>
              <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
                Купить
              </a>
            </div>
            <span class="product__star">
              4,6
            </span>
          </article>
        </li>
        <li class="product-card similar-prod__item">
          <article class="product">
            <picture class="product__picture">
              <source srcset="./images/cart_sofa-s44-1024.webp" media="(max-width: 1024px)" type="image/webp">
              <source srcset="./images/cart_sofa-s44-768.webp" media="(max-width: 768px)" type="image/webp">
              <source srcset="./images/cart_sofa-s44-320.webp" media="(max-width: 420px)" type="image/webp">
              <img loading="lazy"
                src="data:image/gif;base64,R0lGODlhEAFpAIAAAP///wAAACH5BAEAAAEALAAAAAAQAWkAAALVjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vv1cAADs="
                data-src="./images/cart_sofa-s44.webp" class="lazyload" alt="Диван велюровый “S-44”">
            </picture>
            <div class="product__inner">
              <h3 class="product__subtitle">
                Диван велюровый &Prime;S-44&Prime;
              </h3>
              <span class="product__price">
                19 990 руб
              </span>
              <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
                Купить
              </a>
            </div>
            <span class="product__star">
              4,5
            </span>
          </article>
        </li>
        <li class="product-card similar-prod__item">
          <article class="product">
            <picture class="product__picture">
              <source srcset="./images/cart_sofa-v43-1024.webp" media="(max-width: 1024px)" type="image/webp">
              <source srcset="./images/cart_sofa-v43-768.webp" media="(max-width: 768px)" type="image/webp">
              <source srcset="./images/cart_sofa-v43-320.webp" media="(max-width: 420px)" type="image/webp">
              <img loading="lazy"
                src="data:image/gif;base64,R0lGODlhhQBBAIAAAP///wAAACH5BAEAAAEALAAAAACFAEEAAAJpjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoaFgAADs="
                data-src="./images/cart_sofa-v43.webp" class="lazyload" alt="Диван шиниловый “V-43”">
            </picture>
            <div class="product__inner">
              <h3 class="product__subtitle">
                Диван шиниловый &Prime;V-43&Prime;
              </h3>
              <span class="product__price">
                19 990 руб
              </span>
              <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
                Купить
              </a>
            </div>
            <span class="product__star">
              4,8
            </span>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
