<section class="categories">
  <div class="container categories__container">
    <h2 class="section-title categories__title">
      Топ категории
    </h2>
    <ul class="categories__list list-reset grid">
      <li class="categories__item">
        <ul class="categories__list-menu list-reset" title="Категории диванов">
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Прямые
            </a>
          </li>
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Угловые
            </a>
          </li>
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Модульные
            </a>
          </li>
        </ul>
        <h3 class="categories__subtitle">
          Диваны
        </h3>
        <a href="#" class="categories__link link-reset">
          <span class="categories__text">В каталог</span>
          <svg class="categories__svg">
            <use xlink:href="images/sprite.svg#arrow-catalog"></use>
          </svg>
        </a>
      </li>
      <li class="categories__item">
        <ul class="categories__list-menu list-reset" title="Категории кресел">
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Мягкие
            </a>
          </li>
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Кресла-кровати
            </a>
          </li>
        </ul>
        <h3 class="categories__subtitle">
          Кресла
        </h3>
        <a href="#" class="categories__link link-reset">
          <span class="categories__text">В каталог</span>
          <svg class="categories__svg">
            <use xlink:href="images/sprite.svg#arrow-catalog"></use>
          </svg>
        </a>
      </li>
      <li class="categories__item">
        <ul class="categories__list-menu list-reset" title="Категории кроватей">
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Односпальные
            </a>
          </li>
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Двуспальные
            </a>
          </li>
        </ul>
        <h3 class="categories__subtitle">
          Кровати
        </h3>
        <a href="#" class="categories__link link-reset">
          <span class="categories__text">В каталог</span>
          <svg class="categories__svg">
            <use xlink:href="images/sprite.svg#arrow-catalog"></use>
          </svg>
        </a>
      </li>
      <li class="categories__item">
        <ul class="categories__list-menu list-reset">
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Тумпы
            </a>
          </li>
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Комоды
            </a>
          </li>
        </ul>
        <h3 class="categories__subtitle">
          Тумбы и комоды
        </h3>
        <a href="#" class="categories__link link-reset">
          <span class="categories__text">В каталог</span>
          <svg class="categories__svg">
            <use xlink:href="images/sprite.svg#arrow-catalog"></use>
          </svg>
        </a>
      </li>
      <li class="categories__item">
        <ul class="categories__list-menu list-reset" title="Категории стульев">
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Деревянные
            </a>
          </li>
          <li class="categories__item-menu">
            <a href="#" class="categories__link-menu link-reset">
              Металлокаркас
            </a>
          </li>
        </ul>
        <h3 class="categories__subtitle">
          Стулья
        </h3>
        <a href="#" class="categories__link link-reset">
          <span class="categories__text">В каталог</span>
          <svg class="categories__svg">
            <use xlink:href="images/sprite.svg#arrow-catalog"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
