<section class="feedback">
  <div class="container feedback__container grid">
    <div class="feedback__wrapper">
      <h2 class="visually-hidden">
        Обратная связь
      </h2>
      <span class="feedback__slogan">
        Мы всегда вам рады!
      </span>
      <p class="feedback__text">
        Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность
        распределения внутренних резервов и ресурсов.
      </p>
      <form action="#" method="post" class="form">
        <input type="text" name="Имя" class="input input-reset form__input" placeholder="Как вас зовут?" aria-required="true" required>
        <input type="tel" name="Имя" class="input input-reset form__input" placeholder="Ваш телефон" aria-required="true" required>
        <input type="email" name="Имя" class="input input-reset form__input" placeholder="Ваш e-mail" aria-required="true" required>
        <button class="btn-reset btn-purple form__btn feedback__btn">Отправить</button>
        <label class="label">
          <input class="label__checkbox" type="checkbox">
          <span class="label__text">
            Принимаю
            <a href="#" class="label__link" title="Позьзовательское соглашение">
              пользовательское соглашение
            </a>
          </span>
        </label>
      </form>
    </div>
    <div class="feedback__img"></div>
  </div>
</section>
