<section class="garantees">
  <div class="container garantees__container">
    <h3 class="garantees__subtitle">
      Гарантии
    </h3>
    <div class="garantees__wrapper">
      <ol class="garantees__list">
        <li class="garantees__item">
          При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на
          соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право
          предъявления претензий, которые можно выявить при приемке товара.
        </li>
        <li class="garantees__item">
          На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные
          обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара,
          полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара
          надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован
          исключительно приобретающим его потребителем.
        </li>
        <li class="garantees__item">
          Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства
          товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за
          вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
        </li>
      </ol>
      <p class="garantees__info">
        Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
      </p>
    </div>
  </div>
</section>
