<header class="header">
  <div class="container">
    <div class="header__container grid">
      <a class="header__phone link-reset" title="Телефон компании" href="tel:+74958854547">
        <svg class="header__phone-img">
          <use xlink:href="images/sprite.svg#call"></use>
        </svg>
        +7 (495) 885-45-47
      </a>
      <nav class="nav header__nav-top" title="Дополнительное меню">
        <ul class="list-reset nav__list nav__list--top">
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--gray link-reset">
              О компании
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--gray link-reset">
              Гарантия и возврат
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--gray link-reset">
              Корпоративным клиентам
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--gray link-reset">
              Дизайн-решение
            </a>
          </li>
        </ul>
      </nav>
      <a class="header__logo link-reset" href="index.html">
        <img src="./images/logo.svg" alt="Логотип компании SitDownPls">
      </a>
      <nav class="nav header__nav-middle" title="Основное меню">
        <ul class="list-reset nav__list nav__list--middle">
          <li class="nav__item">
            <a href="../catalog-page.html" class="nav__link nav__link-black link-reset">
              Каталог
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link-black link-reset">
              Магазины
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link-black link-reset">
              Шоу-рум
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link-black link-reset">
              Доставка и оплата
            </a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link nav__link-black link-reset">
              Дисконт
            </a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link nav__link-black link-reset">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__search">
        <svg class="header__icon">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        <input type="text" class="input input-reset header__input" placeholder="Я хочу купить...">
        <button class="btn-reset header__form-btn" type="submit" aria-label="Поиск по сайту" tabindex="-1">
          <svg class="header__btn">
            <use xlink:href="images/sprite.svg#arrow-btn"></use>
          </svg>
        </button>
      </div>
      <ul class="profile header__profile list-reset">
        <li class="profile__item" tabindex="0">
          <a class="link-reset profile__btn" aria-label="Профиль пользователя" tabindex="-1">
            <svg class="profile__user">
              <use xlink:href="images/sprite.svg#user"></use>
            </svg>
          </a>
        </li>
        <li class="profile__item" tabindex="0">
          <a class="btn-reset profile__btn" aria-label="Корзина товаров" tabindex="-1">
            <svg class="profile__cart">
              <use xlink:href="images/sprite.svg#cart"></use>
            </svg>
          </a>
          <span class="profile__cart-num">0</span>
        </li>
      </ul>
      <button class="btn-reset burger" aria-label="Открыть меню">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
    <div class="header__links visually-hidden">
      <a href="../index.html" class="header__link-page link-reset">Главная /</a>
      <a href="../catalog-page.html" class="header__link-page link-reset">Каталог /</a>
      <a href="#" class="header__link-page link-reset">Диваны /</a>
      <a href="#" class="header__link-page header__link-page--active link-reset">Прямые диваны</a>
      <a href="#" class="header__link-page header__link-page--active link-reset">/ D-31</a>
      <a href="#" class="header__link-page header__link-page--active link-reset">Сотрудничество</a>
    </div>
  </div>
</header>
