<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../resources/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>SitDownPls - сайт мебельной компании</title>
  <link rel="preload" href="./resources/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./resources/fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./resources/fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./resources/fonts/Muller-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./resources/fonts/PlayfairDisplay-black.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  <script defer src="scripts/main.js"></script>
</head>
