<section class="rating">
  <div class="container rating__container">
    <h2 class="section-title rating__title">
      Высокий рейтинг
    </h2>
    <ul class="rating__list list-reset grid">
      <li class="product-card rating__item">
        <article class="product">
          <picture class="product__picture">
            <source srcset="./images/sofa-r94-mob.webp" media="(max-width: 420px)" type="image/webp">
            <img loading="lazy"
              src="data:image/gif;base64,R0lGODlhhQApAIAAAP///wAAACH5BAEAAAEALAAAAACFACkAAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX5QIAOw=="
              data-src="./images/sofa-r94.webp" class="lazyload" alt="Диван кожаный “R-94”">
          </picture>
          <div class="product__inner">
            <h3 class="product__subtitle">
              Диван кожаный &Prime;R-94&Prime;
            </h3>
            <span class="product__price">
              94 990 руб
            </span>
            <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
              Купить
            </a>
          </div>
          <span class="product__star">
            5,0
          </span>
        </article>
      </li>
      <li class="product-card rating__item">
        <article class="product">
          <picture class="product__picture">
            <source srcset="./images/sofa-t75-mob.webp" media="(max-width: 420px)" type="image/webp">
            <img loading="lazy"
              src="data:image/gif;base64,R0lGODlhBQFlAIAAAP///wAAACH5BAEAAAEALAAAAAAFAWUAAALMjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6e7lEAADs="
              data-src="./images/sofa-t75.webp" class="lazyload" alt="Диван апартековый “T-75”">
          </picture>
          <div class="product__inner">
            <h3 class="product__subtitle">
              Диван апартековый &Prime;T-75&Prime;
            </h3>
            <span class="product__price">
              69 990 руб
            </span>
            <a href="#" class="btn-white product__btn" title="Купить продукт">
              Купить
            </a>
          </div>
          <span class="product__star">
            4,9
          </span>
        </article>
      </li>
      <li class="product-card rating__item">
        <article class="product">
          <picture class="product__picture">
            <source srcset="./images/sofa-d31-mob.webp" media="(max-width: 420px)" type="image/webp">
            <img loading="lazy"
              src="data:image/gif;base64,R0lGODlhBgFnAIAAAP///wAAACH5BAEAAAEALAAAAAAGAWcAAALOjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err4uXAAAOw=="
              data-src="./images/sofa-d31.webp" class="lazyload" alt="Диван тканевый “D-31”">
          </picture>
          <div class="product__inner">
            <h3 class="product__subtitle">
              Диван тканевый &Prime;D-31&Prime;
            </h3>
            <span class="product__price">
              28 490 руб
            </span>
            <a href="../product-d31.html" class="btn-white product__btn link-reset" title="Купить продукт">
              Купить
            </a>
          </div>
          <span class="product__star">
            4,8
          </span>
        </article>
      </li>
      <li class="product-card rating__item">
        <article class="product">
          <picture class="product__picture">
            <source srcset="./images/sofa-y68-mob.webp" media="(max-width: 420px)" type="image/webp">
            <img loading="lazy"
              src="data:image/gif;base64,R0lGODlhAQF9AIAAAP///wAAACH5BAEAAAEALAAAAAABAX0AAALjjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w9wXwEAOw=="
              data-src="./images/sofa-y68.webp" class="lazyload" alt="Диван велюровый “Y-68”">
          </picture>
          <div class="product__inner">
            <h3 class="product__subtitle">
              Диван велюровый &Prime;Y-68&Prime;
            </h3>
            <span class="product__price">
              22 990 руб
            </span>
            <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
              Купить
            </a>
          </div>
          <span class="product__star">
            4,8
          </span>
        </article>
      </li>
      <li class="product-card rating__item">
        <article class="product">
          <picture class="product__picture">
            <source srcset="./images/sofa-w95-mob.webp" media="(max-width: 420px)" type="image/webp">
            <img loading="lazy"
              src="data:image/gif;base64,R0lGODlhCQF1AIAAAP///wAAACH5BAEAAAEALAAAAAAJAXUAAALfjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z19YAAA7"
              data-src="./images/sofa-w95.webp" class="lazyload" alt="Диван из шинила “W-95”">
          </picture>
          <div class="product__inner">
            <h3 class="product__subtitle">
              Диван из шинила &Prime;W-95&Prime;
            </h3>
            <span class="product__price">
              22 990 руб
            </span>
            <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
              Купить
            </a>
          </div>
          <span class="product__star">
            5,0
          </span>
        </article>
      </li>
      <li class="product-card rating__item">
        <article class="product">
          <picture class="product__picture">
            <source srcset="./images/sofa-g41-mob.webp" media="(max-width: 420px)" type="image/webp">
            <img loading="lazy"
              src="data:image/gif;base64,R0lGODlhDwF1AIAAAP///wAAACH5BAEAAAEALAAAAAAPAXUAAALijI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/1+lAAA7"
              data-src="./images/sofa-g41.webp" class="lazyload" alt="Диван флоковый “G-41”">
          </picture>
          <div class="product__inner">
            <h3 class="product__subtitle">
              Диван флоковый &Prime;G-41&Prime;
            </h3>
            <span class="product__price">
              17 990 руб
            </span>
            <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
              Купить
            </a>
          </div>
          <span class="product__star">
            4,8
          </span>
        </article>
      </li>
      <li class="product-card rating__item">
        <article class="product">
          <picture class="product__picture">
            <source srcset="./images/sofa-v43-mob.webp" media="(max-width: 420px)" type="image/webp">
            <img loading="lazy"
              src="data:image/gif;base64,R0lGODlhhQBBAIAAAP///wAAACH5BAEAAAEALAAAAACFAEEAAAJpjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoaFgAADs="
              data-src="./images/sofa-v43.webp" class="lazyload" alt="Диван шиниловый “V-43”">
          </picture>
          <div class="product__inner">
            <h3 class="product__subtitle">
              Диван шиниловый &Prime;V-43&Prime;
            </h3>
            <span class="product__price">
              19 990 руб
            </span>
            <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
              Купить
            </a>
          </div>
          <span class="product__star">
            4,8
          </span>
        </article>
      </li>
      <li class="product-card rating__item">
        <article class="product">
          <picture class="product__picture">
            <source srcset="./images/sofa-s99-mob.webp" media="(max-width: 420px)" type="image/webp">
            <img loading="lazy"
              src="data:image/gif;base64,R0lGODlhNQAfAIAAAP///wAAACH5BAEAAAEALAAAAAA1AB8AAAInjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zs8FADs="
              data-src="./images/sofa-s99.webp" class="lazyload" alt="Диван велюровый “S-99”">
          </picture>
          <div class="product__inner">
            <h3 class="product__subtitle">
              Диван велюровый &Prime;S-99&Prime;
            </h3>
            <span class="product__price">
              19 990 руб
            </span>
            <a href="#" class="btn-white product__btn link-reset" title="Купить продукт">
              Купить
            </a>
          </div>
          <span class="product__star">
            4,7
          </span>
        </article>
      </li>
    </ul>
  </div>
</section>
