<section class="special-offers">
  <div class="container special-offers__container">
    <h2 class="section-title special-offers__title">
      Специальные предложения
    </h2>
    <ul class="special-offers__list list-reset grid">
      <li class="special-offers__item">
        <picture class="special-offers__picture">
          <source srcset="./images/special-1-mob.webp" media="(max-width: 1220px)" type="image/webp">
          <img loading="lazy"
            src="data:image/gif;base64,R0lGODlhwQDSAIAAAP///wAAACH5BAEAAAEALAAAAADBANIAAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8YJjRw7evwIEkgBADs="
            data-src="./images/special-1.webp" class="lazyload" alt="Кресло велюровое “X-24”">
        </picture>
        <div class="special-offers__wrapper">
          <h3 class="special-offers__subtitle">
            Кресло велюровое &Prime;X-24&Prime;
          </h3>
          <div class="special-offers__price-wrapper">
            <span class="special-offers__price">
              15 990 руб
            </span>
            <span class="special-offers__price special-offers__price--sale">
              24 990 руб
            </span>
          </div>
          <a class="btn-white special-offers__btn" title="Купить продукт">
            Купить
          </a>
        </div>
        <span class="special-offers__sticker">
          -9 000
        </span>
      </li>
      <li class="special-offers__item">
        <picture class="special-offers__picture">
          <source srcset="./images/special-2-mob.webp" media="(max-width: 1220px)" type="image/webp">
          <img loading="lazy"
            src="data:image/gif;base64,R0lGODlhwQDSAIAAAP///wAAACH5BAEAAAEALAAAAADBANIAAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8YJjRw7evwIEkgBADs="
            data-src="./images/special-2.webp" class="lazyload" alt="Диван тканевый “Z-44”">
        </picture>
        <div class="special-offers__wrapper">
          <h3 class="special-offers__subtitle">
            Диван тканевый &Prime;Z-44&Prime;
          </h3>
          <div class="special-offers__price-wrapper">
            <span class="special-offers__price">
              22 990 руб
            </span>
            <span class="special-offers__price special-offers__price--sale">
              32 990 руб
            </span>
          </div>
          <a class="btn-white special-offers__btn" title="Купить продукт">
            Купить
          </a>
        </div>
        <span class="special-offers__sticker">
          -10 000
        </span>
      </li>
      <li class="special-offers__item">
        <picture class="special-offers__picture">
          <source srcset="./images/special-3-mob.webp" media="(max-width: 1220px)" type="image/webp">
          <img loading="lazy"
            src="data:image/gif;base64,R0lGODlhlQDaAIAAAP///wAAACH5BAEAAAEALAAAAACVANoAAALmjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMAyBQAAOw=="
            data-src="./images/special-3.webp" class="lazyload" alt="Будильник  “Quartz-23”">
        </picture>
        <div class="special-offers__wrapper">
          <h3 class="special-offers__subtitle">
            Будильник &Prime;Quartz-23&Prime;
          </h3>
          <div class="special-offers__price-wrapper">
            <span class="special-offers__price">
              1 290 руб
            </span>
            <span class="special-offers__price special-offers__price--sale">
              1 890 руб
            </span>
          </div>
          <a class="btn-white special-offers__btn" title="Купить продукт">
            Купить
          </a>
        </div>
        <span class="special-offers__sticker">
          -600
        </span>
      </li>
      <li class="special-offers__item">
        <picture class="special-offers__picture">
          <source srcset="./images/special-4-mob.webp" media="(max-width: 1220px)" type="image/webp">
          <img loading="lazy"
            src="data:image/gif;base64,R0lGODlhJwBGAIAAAP///wAAACH5BAEAAAEALAAAAAAnAEYAAAI2jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMZqgAADs="
            data-src="./images/pecial-4.webp" class="lazyload" alt="Мини-скульптура “Oh my deer”">
        </picture>
        <div class="special-offers__wrapper">
          <h3 class="special-offers__subtitle">
            Мини-скульптура &Prime;Oh my deer&Prime;
          </h3>
          <div class="special-offers__price-wrapper">
            <span class="special-offers__price">
              690 руб
            </span>
            <span class="special-offers__price special-offers__price--sale">
              990 руб
            </span>
          </div>
          <a class="btn-white special-offers__btn" title="Купить продукт">
            Купить
          </a>
        </div>
        <span class="special-offers__sticker">
          -300
        </span>
      </li>
      <li class="special-offers__item">
        <picture class="special-offers__picture">
          <source srcset="./images/special-5-mob.webp" media="(max-width: 1220px)" type="image/webp">
          <img loading="lazy"
            src="data:image/gif;base64,R0lGODlh/gCPAIAAAP///wAAACH5BAEAAAEALAAAAAD+AI8AAAL2jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgx4oICADs="
            data-src="./images/pecial-5.webp" class="lazyload" alt="Диван вел-флок “Z-85”">
        </picture>
        <div class="special-offers__wrapper">
          <h3 class="special-offers__subtitle">
            Диван вел-флок &Prime;Z-85&Prime;
          </h3>
          <div class="special-offers__price-wrapper">
            <span class="special-offers__price">
              22 990 руб
            </span>
            <span class="special-offers__price special-offers__price--sale">
              32 990 руб
            </span>
          </div>
          <a class="btn-white special-offers__btn" title="Купить продукт">
            Купить
          </a>
        </div>
        <span class="special-offers__sticker">
          -10 000
        </span>
      </li>
      <li class="special-offers__item">
        <picture class="special-offers__picture">
          <source srcset="./images/special-6-mob.webp" media="(max-width: 1220px)" type="image/webp">
          <img loading="lazy"
            src="data:image/gif;base64,R0lGODlhtwDaAIAAAP///wAAACH5BAEAAAEALAAAAAC3ANoAAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8YGjRw7ViwAADs="
            data-src="./images/pecial-6.webp" class="lazyload" alt="Термометр + гидрометр “H-18”">
        </picture>
        <div class="special-offers__wrapper">
          <h3 class="special-offers__subtitle">
            Термометр + гидрометр &Prime;H-18&Prime;
          </h3>
          <div class="special-offers__price-wrapper">
            <span class="special-offers__price">
              1 390 руб
            </span>
            <span class="special-offers__price special-offers__price--sale">
              2 090 руб
            </span>
          </div>
          <a class="btn-white special-offers__btn" title="Купить продукт">
            Купить
          </a>
          <span class="special-offers__sticker">
            -700
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>
