<section class="useful">
  <div class="container useful__container">
    <h2 class="section-title useful__title">
      Полезное
    </h2>
    <ul class="useful__list list-reset grid">
      <li class="useful__item">
        <p class="useful__text">
          И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
        </p>
        <button class="btn-white useful__btn">
          Читать
        </button>
      </li>
      <li class="useful__item">
        <p class="useful__text">
          Как принято считать, некоторые особенности приносят несомненную пользу обществу?
        </p>
        <button class="btn-white useful__btn">
          Читать
        </button>
      </li>
      <li class="useful__item">
        <p class="useful__text">
          Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
        </p>
        <button class="btn-white useful__btn">
          Читать
        </button>
      </li>
      <li class="useful__item">
        <p class="useful__text">
          Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
        </p>
        <button class="btn-white useful__btn">
          Читать
        </button>
      </li>
      <li class="useful__item">
        <p class="useful__text">
          Как принято считать, некоторые особенности приносят несомненную пользу обществу?
        </p>
        <button class="btn-white useful__btn">
          Читать
        </button>
      </li>
    </ul>
  </div>
</section>
